[Unit]
Description=RC PTZ HUD - MediaMTX (RTSP/WebRTC server)
After=network.target

[Service]
Type=simple
User=admincam
WorkingDirectory=/home/admincam/mediamtx
ExecStart=/home/admincam/mediamtx/mediamtx /home/admincam/RC-ptz-with-hud/mediamtx/mediamtx.yml
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
